body {
  margin: 0;
  font: 14px/1.5 Arial;
  color: #666;
  background: #efefef;
}

ul,p {
  margin: 0;
  padding: 0;
}
.layout {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#page {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  position: relative;
  background: #3c3c3c;
  width: 100%;
  text-align: center;
  padding: 50px 0 10px 0;
  color: #fff;
}

header > h1 {
  font-size: 30px;
  margin-bottom: 0;
}

header > p {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}

header .avatar {
  position: absolute;
  text-align: center;
  top: 68%;
  right: 20px;
}

aside {
  width: 240px;
  border-right: 1px solid #ccc;
  position: relative;
  padding-top: 100px;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #ccc;
}

section {
  border-bottom: 1px solid #ccc;
  margin: 30px 20px 0 20px;
  padding-bottom: 20px;
}

section h2 {
  color: #5c99ca;
  font-size: 16px;
}

section h3 {
  font-size: 16px;
  color: #333;
}

section a {
  color: #333;
}

section img {
  width: 400px;
  height: 220px;
  padding-bottom: 15px;
}

section .item {
  padding-left: 35px;
}

section .space {
  padding-top: 20px;
  padding-bottom: 50px;
}

section .high-light {
  color: #ff6000;
}

.title {
  margin-left: -25px;
  padding: 10px 0;
}

.personal .item span:first-child {
  display: inline-block;
  width: 60px;
}

.personal .item span:last-child::before {
  content: ':';
  margin-right: 10px;
}

.skills .item {
  display: flex;
  align-items: center;
}

.skills .keyword {
  width: 80px;
}

.skills .rule {
  flex: 1;
  height: 4px;
  background: #ccc;
}

.skills .rule i {
  display: block;
  width: 10%;
  height: 4px;
  background: #000;
}

.contact .item {
  display: flex;
  align-items: center;
}
.contact svg {
  width: 25px;
  height: 25px;
}

.contact .item span {
  margin-left: 10px;
}

.contact svg {
  width: 22px;
  height: 25px;
}

main {
  flex: 1;
  min-height: calc(100vh - 162px);
}

/* @media (max-width: 425px) {
  section .item {
    padding-top: 35px;
  }
} */

@media (max-width: 425px) {
  header {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  header .avatar {
    top: 70%;
    right: 10px;
  }
  .avatar img {
    width: 75px;
    height: 75px;
  }
  aside {
    width: 100%;
    padding-top: 0px;
  }
  aside .avatar img {
    width: 100px;
    height: 100px;
  }
  section img {
    width: 240px;
    height: 120px;
  }
}
